<div class="mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title mdl-color--primary">
    <h2 class="mdl-card__title-text"><%= t('.form').titleize %></h2>
  </div>
  <%= form_tag trackers_path do %>
    <div class="mdl-card__supporting-text">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= text_field_tag 'tracker[name]', nil, class: 'mdl-textfield__input' %>
        <%= label_tag 'tracker[name]', t('defs.name'), class: 'mdl-textfield__label' %>
      </div>

    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%# TODO: Ripple not showing %>
      <%= submit_tag t('.create').titleize, class: "mdl-button mdl-js-button mdl-js-ripple-effect" %>
    </div>
  <% end %>
</div>
