---
title: Find Influencers
---

<div class="container main-content text-center">
  <h1>Better Instagram Marketing</h1>
  <%=
    link_to 'Start Your Free Trial', '/pricing.html',
    class: 'btn btn-default btn-lg cta',
    style: 'margin-top: 0px'
  %>

  <div>
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="subtitle">
        Growing your brand on Instagram is difficult, but it doesn't have to be.
        <%= I18n.t(:company_name) %> makes it painless to measure your
        marketing efforts and see where improvements can be made.
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div id="ui-preview">
    <%= image_tag 'ui-preview-3.png' %>
  </div>
</div>

<div class="container-fluid divider">
  <div class="container">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="card">
        <h2>The Data You Need</h2>
        <p>
          <%= I18n.t(:company_name) %> shows how your audience is engaging with
          the content you care about. Trackers can be setup for the hashtags and
          accounts that are relevant to you.
        </p>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<div class="container">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="card">
      <h2>Show Your ROI.</h2>
      <p>
        Determing if marketing on Instagram is helping your business should be
        easy. <%= I18n.t(:company_name) %> makes it simple to track your return
        on investment.
      </p>
    </div>

    <div class="card">
      <h2>Exclusively For Instagram.</h2>
      <p>
        Instagram is the most powerful social platform today.
        <%= I18n.t(:company_name) %> has been built from the ground up to be the
        best analytics tool for Instagram.
      </p>
    </div>

    <div class="text-center">
      <%=
        link_to 'See Why Our Customers Love Us', '/pricing.html',
        class: 'btn btn-default btn-lg cta',
        style: 'margin-top: 0px'
      %>
    </div>

  </div>
  <div class="col-sm-2"></div>
</div>
