<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body class="<%= "#{controller_name} #{action_name}" %>">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <%= render 'layouts/header' %>
      <%= render 'layouts/nav_drawer' %>

      <main id="main-content" class="mdl-layout__content">
        <div class="grid-wrapper">
          <div class="mdl-grid">
            <%= render 'layouts/app_flash_message' %>
            <%= yield %>
          </div>
        </div>

        <%= render 'layouts/footer' %>
      </main>
    </div>
  </body>
</html>
